.c4-board {
    padding: 5px;
    width: 7vw;
    height: 7vw;
    background-color: blue;
    display: flex;

}

.c4-board-rows {
    display: flex;

}

.c4-board-spots {
    border-radius: 50%;
    background-color: white;
    flex: 1;
}

.p1-board-spot {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: red;
}

.p2-board-spot {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: yellow;
}
