.p1-checker {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
    /* color: red; */
}

.p2-checker {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: yellow;
}

.connect-four-board-row {
    display: flex;

}

.connect-four-game-box {
    height: 100px;
    width: 100px;
    border: 4px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: blue;
}

.blank-spot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}
