.home {
    display: flex;
    justify-content: center;
}


.mainpage-template {
    display: grid;
    /* grid-row: 1; */
    grid-template-columns: repeat(4, 200px);
    margin-top: 15px;
    overflow: hidden;

}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: 200px;

}





.body {
    margin: 0;
}

:root {
    /* a variable */
    --slider-padding: 5rem;
}


.container {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    /* overflow: scroll; */
    width: calc(100% - 2 * var(--slider-padding));
    transform: translate(-105%);

}

.slider>img {
    flex: 0 0 25%;
    max-width: 25%;
    aspect-ratio: 16/9;
    padding: .25rem;
}
