.project-container {
    height: 200px;
    border: solid 1px lightgray;
    border-radius: 20px;
}

.sliderImage {
    padding-top: 15px;
    margin: auto;
    max-height: 250px;
    max-width: 250px;
}

.sliderText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
